@import "../../../styles/colors.module";

.header {
  display: flex;

  height: 140px;

  // .header__wrapper
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    padding-top: 2.8125rem;
    padding-bottom: 2.8125rem;
    border-bottom: 1px solid $grey-color;

    background-color: $containers-color;

    transition: .3s ease;

    // .header__wrapper_active
    &_active {
    }
  }

  // .header__left-side
  &__left-side {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  // .header__logo
  &__logo {
    max-width: 2.375rem;
    max-height: 2.375rem;
  }

  // .header__text
  &__text {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  // .header__cafe-name
  &__cafe-name {
    color: $text-color--primary;
    font-weight: 900;
    font-size: 1.5rem;
    letter-spacing: 0.01em;
    text-transform: uppercase;
  }

  // .header__subtitle
  &__subtitle {
    color: $text-grey-color;
    font-weight: 400;
    font-size: 1rem;
  }

  // .header__right-side
  &__right-side {
    display: flex;
    align-items: center;
    gap: 15px;
  }
}

.header-mobile {
  display: none;
  align-items: center;
  justify-content: space-between;
  flex: 1;

  padding-top: 15px;
  padding-bottom: 15px;

  // .header-mobile__logo
  &__logo {
    max-width: 2.375rem;
    max-height: 2.375rem;
  }

  // .header-mobile__burger
  &__burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;

    z-index: 2;

    cursor: pointer;

    padding: 10px;

  }

  // .header-mobile__burger-line
  &__burger-line {
    display: block;

    width: 25px;
    height: 2px;

    border-radius: 1rem;

    background-color: $main-color;

    // .header-mobile__burger-line_first
    &_first {
    }

    // .header-mobile__burger-line_second
    &_second {
    }

    // .header-mobile__burger-line_third
    &_third {
    }
  }
}

@import "media";
