@media screen and (max-width: 768px) {
  .header {

    height: auto;

    // .header__wrapper
    &__wrapper {
      flex-direction: column;
      justify-content: flex-start;

      height: 100vh;

      top: -300%;

      padding-top: 100px;
      padding-bottom: 20px;

      border-bottom: none;

      visibility: hidden;

      // .header__wrapper_active
      &_active {
        visibility: visible;
        top: 0;
      }
    }

    // .header__left-side
    &__left-side {

    }

    // .header__logo
    &__logo {
      display: none;
    }

    // .header__text
    &__text {
      text-align: center;
    }

    // .header__cafe-name
    &__cafe-name {

    }

    // .header__subtitle
    &__subtitle {

    }

    // .header__right-side
    &__right-side {

    }
  }


  .header-mobile {
    display: flex;

    // .header-mobile__logo
    &__logo {

    }

    // .header-mobile__burger
    &__burger {
    }

    // .header-mobile__burger-line
    &__burger-line {


      // .header-mobile__burger-line_first
      &_first {
      }

      // .header-mobile__burger-line_second
      &_second {
      }

      // .header-mobile__burger-line_third
      &_third {
      }
    }
  }
}
