@import "../../../styles/colors.module";

.order-status {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 10px 15px;
  border-radius: 30px;

  background-color: $main-color;

  color: $text-color--secondary;
  font-weight: 700;

  // .order-status__sum
  &__sum {
    padding: 5px 5px;
    cursor: pointer;
    white-space: nowrap;
  }

  // .order-status__divider
  &__divider {
    width: 1px;
    height: 25px;
    background-color: rgba($grey-color, .3);
  }

  // .order-status__shopping-cart
  &__shopping-cart {
    display: flex;
    gap: 5px;

    padding: 5px 5px;

    cursor: pointer;
  }
}
