@import "../../../../../styles/colors.module";

.counter {
  position: relative;

  padding: 11px 0;
  border-radius: 100%;

  background-color: $main-color;
  color: $text-color--secondary;
  line-height: 1;

  visibility: hidden;

  // .counter_active
  &_active {
    padding: 11px;
    visibility: visible;
  }

  // .counter__number
  &__number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
