@import "../colors.module";

.base-button {
  display: flex;
  align-items: center;
  gap: 10px;

  border: none;
  border-radius: 2rem;

  background-color: $options-background;

  font-weight: 700;

  cursor: pointer;

  transition: background-color .3s ease, color .3s ease;

}

.choose-filter-button {
  padding: 0.8125rem 1.6875rem;

  // .choose-filter-button_active
  &_active {
    color: $text-color--secondary;
    background-color: $black-color;
  }

  &:hover:not(.choose-filter-button_active) {
    color: $black-color;
    background-color: $grey-color;
  }
}
