@import "../colors.module";
@import "../variables.module";

.base-button {
  display: flex;
  align-items: center;
  gap: 10px;

  border: none;
  border-radius: 2rem;

  background-color: $options-background;

  font-weight: 700;

  cursor: pointer;

  transition: background-color $animation-time ease, color $animation-time ease;

}

.choose-filter-button {
  padding: 0.8125rem 1.6875rem;

  // .choose-filter-button_active
  &_active {
    color: $text-color--secondary;
    background-color: $black-color;
  }

  &:hover:not(.choose-filter-button_active) {
    color: $black-color;
    background-color: $grey-color;
  }
}

.add-item-button {
  padding: 0.5rem 1.0625rem;

  border: 1px solid $main-color;

  color: $main-color;

  background-color: $text-color--secondary;

  // .add-item-button_active
  &_active {

  }

  &:hover:not(.choose-filter-button_active) {
    color: $text-color--secondary;
    background-color: $main-color;
  }
}

.empty-basket-button {
  padding: 0.9375rem;

  border: none;

  color: $text-grey-color;
  font-size: 1rem;
  line-height: 1px;

  background-color: $text-color--secondary;

  // .empty-basket-button_active
  &_active {}

  &:hover:not(.empty-basket-button_active) {
    color: $black-color;
  }
}

.get-back-button-with-icon {
  padding: 1.46875rem 1.875rem;

  border: 1px solid $text-grey-color;

  color: $text-grey-color;
  font-size: 1rem;
  line-height: 1px;

  background-color: $text-color--secondary;

  transition: border $animation-time ease, color $animation-time ease;

  // .get-back-button-with-icon_active
  &_active {}

  &:hover:not(.get-back-button-with-icon_active) {
    color: $black-color;
    border: 1px solid $black-color;
  }
}

.pay-now-button {
  padding: 1.125rem 1.875rem;

  border: none;

  color: $text-color--secondary;
  font-size: 1rem;
  line-height: 1;

  background-color: $main-color;

  // .pay-now-button_active
  &_active {}

  &:hover:not(.pay-now-button_active) {}
}

.rounded-button-orange {
  padding: 0.875rem;

  border: 2px solid $main-color;

  color: $main-color;

  background-color: transparent;

  // .rounded-button-orange_active
  &_active {}

  &:hover:not(.rounded-button-orange_active) {}
}

.rounded-button-grey {
  padding: 0.875rem;

  border: 2px solid $text-grey-color;

  color: $text-grey-color;

  background-color: transparent;

  // .rounded-button-grey_active
  &_active {}

  &:hover:not(.rounded-button-grey_active) {}
}

.get-back-button {
  padding: 1.0625rem 2.5rem;

  border: none;

  color: $text-color--secondary;

  background-color: $black-color;

  // .get-back-button_active
  &_active {}

  &:hover:not(.get-back-button_active) {}
}
