@import "../../../styles/colors.module";
@import "../../../styles/mixins/underline-dashed";

.switcher {
  position: relative;

  &__current_language {
    border: none;

    background-color: transparent;

    color: $main-color;
    font-weight: bold;
    text-transform: uppercase;

    cursor: pointer;

    @include underline-dashed();
  }
}
