.icon {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;


  // .icon__children
  &__children {
    display: flex;

    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  }
}
