.basket {
  width: 50%;

  margin: 0 auto;
  padding: 6.25rem 0;

  // .basket__header
  &__header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px 50px;
  }

  // .basket__title-wrapper
  &__title-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  // .basket__icon
  &__icon {
    font-size: 1.8125rem;
  }

  // .basket__title
  &__title {
    margin: 0;

    font-weight: 700;
    font-size: 2rem;
  }

  // .basket__order-list
  &__order-list {

    // .basket__order-list-item
    &-item {
      margin-top: 1.875rem;

      &-info {
        margin-top: 2.5rem;
      }
    }
  }

  // .basket__footer
  &__footer {
    display: flex;
    justify-content: space-between;

    margin-top: 2.5rem;
  }
}

@import "media";
