$main-color: #FE5F1E;
$main-color--hover: #FE5F1E0D;
$options-background: #F3F3F3;
$grey-color: #e5e5e5;
$text-grey-color: #B6B6B6;
$containers-color: #fff;
$black-color: #282828;
$tooltip-background-color: #373535;

$text-color--primary: #000;
$text-color--secondary: #fff;

:export {
  mainColor: $main-color;
  mainColorHover: $main-color--hover;
  textColorPrimary: $text-color--primary;
  textColorSecondary: $text-color--secondary;
  optionsBackground: $options-background;
  greyColor: $grey-color;
  textGreyColor: $text-grey-color;
  blackColor: $black-color;
  tooltipBackgroundColor: $tooltip-background-color;
}
