@import "normalize";
@import "fonts-style";

#__next {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  height: 100vh;
  width: 100%;

  overflow: hidden;
}

.container {
  padding-left: 60px;
  padding-right: 60px;
}

//rewrite styles for tooltips
.type-dark, .type-light, .type-custom {
  opacity: 1 !important;

  border-radius: 7px !important;
  border-width: 3px !important;
}
